html{
	position: relative;
}

body{
	margin-bottom: 120px;
	margin-top: 30px;
}

/*.jumbotron {
    background-image: url("../Background_JB/bggg.jpg");
    background-size: cover;
}*/


.jumbotron{
	height: 410px;
	background-image: url(../img/bg3.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: -150px 0;
	color: #000000;
	overflow: hidden;
}

.jumbotron img {
	height: 200px;
	width: 200px;
	border: 5px solid #000000;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.jumbotron h1, .jumbotron p{
	text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

hr{
	width: 250px;
	border-top: 3px solid #999;
}

section {
	min-height: 500px;
}

.pKiri, .pKanan{
	opacity: 0;
	transform: translate(-50px, 0) rotate(15deg);
	transition: 1s;
}

.pKanan{
	transform: translate(50px, 0)rotate(-15deg);
}

.pKiri.pMuncul, .pKanan.pMuncul{
	opacity: 1;
	transform: translate(0,0);
}

.portfolio {
	background-color: #EEE;
}

.portfolio .thumbnail{
	opacity: 0;
	transform: translate(0, -40px);
	transition: .5s;
}

.portfolio .thumbnail.muncul{
	opacity: 1;
	transform: translate(0,0);
}

.card{
	width: 300px;
}

.contact {
	min-height: 700px;
}

.navbar img{
	height: 30px;
	width: 30px;
	border: 1px solid #666;
}


footer {
	position: absolute;
	bottom: 0;
	width:  100%;
	height: 120px;
	background-color: #333; 
	padding-top: 30px;
} 

footer p{
	color: white;
	font-size: 1em;
}

footer p i{
	color: #7FFFD4;
}

.overlay{
	width: 0;
	height: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0);
	z-index: 999;
	transition: .8s;
	text-align: center;
	padding: 100px 0;
}

.overlay:target{
	width: auto;
	height: auto;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,.7);
}

.overlay img{
	max-height: 100%;
	box-shadow: 2px 2px 7px rgba(0,0,0,.5);
}

.overlay:target img{
	animation: zoomDanFade 1s;
}

.overlay .close{
	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: -20px;
	color: white;
	text-decoration: none;
	background-color: black;
	border: 1px solid white;
	line-height: 14px;
	padding: 5px;
	opacity: 0;

}

.overlay:target .close{
	animation: slideDownFade .5s .5s forwards;
}

/* animasi */

@keyframes fadeAjah{
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}

@keyframes zoomDanFade{
	0%{
		transform: scale(0);
		opacity: 0;
	}

	100%{
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes slideDownFade{
	0%{
		opacity: 0;
		margin-top: -20px;
	}

	100%{
		opacity: 1;
		margin-top: 0;
	}
}